.card-menu-product-store {
  background-image: url("../assets/images/bears-winter-polar-bears-animals-wallpaper-694088dd918a7dfb26f7f89f3051c63d.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
