.landing-page-hero {
  background-image: url("../assets/images/iceberg-polar-bears-low-poly-digital-art-wallpaper-29b0a80d41da3dab86a718ef50b1560d.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.categories-landing-page {
  background-image: url();
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
