.not-found-page {
  background-image: url("../assets/img/background/wallpaperflare.com_wallpaper (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-cover-one-background {
  background-image: url("../assets/img/background/wallpaperflare.com_wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
